

/* Stile per l'alert di timeout */
.timeout-alert {
  border-left: 5px solid #fd7e14;
  background-color: rgba(253, 126, 20, 0.1);
}

@keyframes pulseAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
